.map-container{
    display: flex;
    /* justify-content: center; */
    align-content: center;
    margin-top: 30px;
    
    /* min-width: 800px; */
    min-height: 600px;
    min-width: 50%;
    max-width: 50%;
    /* background-color: aliceblue; */
}

iframe{
    width: 800px;
    height: 600px;
    /* min-width: 800px;
    min-height: 600px; */
    padding: 25px;
    background-color: aliceblue;
}

body {
  background-color: #f8f9fa;
}

h1, h3 {
  color: #222;
}

/* Takım kartlarını özelleştirelim */
.team-card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

footer {
  font-size: 0.9rem;
}

.resimliBaslik{
    background-image: url(../data/img1.jpg); /* veya HTML'de verdiğin gibi */
  background-size: cover;          /* resmi kapsa, taşanı kırp */
  background-position: center;     /* ortala */
  background-repeat: no-repeat;    /* tekrar etme */
  height: 300px;                   /* yüksekliği sabitle */
  display: flex;                   /* ortalamak için */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
}

.ratio {
  border: 4px solid #f8f9fa;
}

h2 {
  color: #0d6efd; /* Bootstrap primary rengi */
}

a:hover {
  color: #0d6efd;
}
